.container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-area{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.box{
  width: 300px;
  height: 400px;
  border: 2px solid black;
  margin : 0px 30px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.img-size{
  width: 200px;
  height: 200px;
}

.button-icon-size{
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
}

.reset-icon-size{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.button-rsp{
  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button-rsp:hover .button-icon-size {
  transform: scale(1.1); /* 이미지를 1.1배 확대 */
}

.button-rsp:hover .reset-icon-size {
  transform: scale(1.1); /* 이미지를 1.1배 확대 */
}

.win{
  border: 5px solid green;
}
.winColor{
  color:green
}

.winScore{
  color:green
}

.lose{
  border : 5px solid red;
}

.loseColor{
  color : red
}

.tie{
  border : 5px solid black
}

.score-ara{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  width: 130px;
}

.line{
  border: 1px solid red;
}

.reset-area{
  display: flex;
  justify-content: center;
  align-items: center;
}